/* Error messages. */
.err {
    color: darkred;
    font-style: italic;
}

/* Manual input. */
.in {
    color: darkgreen;
}

/* Program output. */
.out {
    color: darkblue;
    font-style: italic;
}

/* Main body of pages. */
body {
    font-family: Arial, sans-serif;
    margin: 1em 1em 1em 1em;
    width: 44em;
}

/* Call-out boxes. */
blockquote.box {
    padding-left: 1em;
    margin-left: 0em;
    border-left-style: solid;
    border-left-color: lightgray;
    border-left-width: 1em;
}
blockquote.box h3 {
    text-align: center;
}

/* Special sections. */
div.objectives, div.keypoints {
    background-color: whitesmoke;
}

/* Code. */
code, pre {
    font-family: "Lucida Console", monospace;
}

/* Code samples. */
pre {
    background-color: floralwhite;
    font-size: 80%;
}

/* Table. */
table.sql {
    border-collapse: collapse;
    color: darkblue;
    font-style: italic;
    font-size: 80%;
}
table.sql tr td {
    border: 1px solid lightgray;
    padding-left: 5px;
    padding-right: 5px;
}

/* Challenges. */
div.challenges ol li {
    margin-bottom: 1em;
}

/* Definition list terms. */
dt {
    font-style: italic;
}